**/.cache
**/target
**/vendor
phpunit.xml
phpunit.cov.xml
**/auth.json
**/*.lock
src/test/storyplayer/dsbuildparams.*
src/test/storyplayer/*.log
src/logs/*.log

.vagrant
**/auth.json
**/.kitchen
**/node_modules
/target
/nbproject
.idea
**/bower_components

# Testing
mb.pid
mb*.log

# Frontend
**/.sass-cache
src/public/assets/**/*.map

# JavaScript
src/public/assets/javascript/library/*
src/public/bower/*
src/public/dist/*
.kitchen/
.kitchen.local.yml
