<html>
    <body>
        <p>Hi,</p>
        <p>Your Tornado password has been changed successfully.</p>
        <p>If you did not make this change, please <a href="https://support.datasift.com/requests/new">contact DataSift support</a>.</p>
        <p>Thanks,<br />DataSift</p>
    </body>
</html>