<div class="profile">
    <div class="dropdown">
        <span data-dropdown-toggle class="profile__name">{{ sessionUser.username }}</span>
        <ul class="dropdown__content dropdown__content--profile">
            <li class="dropdown__item">
                <a href="{{ path("settings") }}">Settings</a>
            </li>
            {% if sessionUser.isAdmin %}
                <li class="dropdown__item">
                    <a href="{{ path("admin") }}">Administration</a>
                </li>
            {% endif %}
            {% if zendesk_url is defined %}
            <li class="dropdown__item">
                <a href="" onclick="zE.activate(); return false;">Support</a>
            </li>
            {% endif %}
            <li class="dropdown__item">
                <a href="{{ path("logout") }}">Sign out</a>
            </li>
        </ul>
    </div>
</div>