/**
 * Zipline ~ Skin variables
 */

/** common/_header overrides */
$header-height: 0;

/** common/_main-menu overrides */
$main-menu-width: 48px;

/** common/_page-sidebar overrides */
$page-sidebar-width: 278px;
