/**
 * Base ~ Grid options
 */
$gutter: 0.3em !global;
$border-box-sizing: true !global;
$grid-columns: 12 !global;
$max-width: 100% !global;
$visual-grid: false !global;
$visual-grid-color: darken(#eff7fb, 10%) !global;
